body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    margin: 20px;
    font-style: italic;
    font-size: 18px;
}

p {
    text-align: justify;
    text-indent: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: darkblue;
    font-style: normal;
}

a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
}
a:active {
    color: green;
}

img {
    margin: 10px;
    border-radius: 10px;
}
